@import "https://use.fontawesome.com/releases/v5.5.0/css/all.css";

body
{
    margin: 0;
    padding: 0;
}

.titulo
{
    text-align: center;
}

form
{
    width: 100%;
}

.pesquisa
{
    display: flex;
    justify-content: center;
    width: 100%;
}

.pesquisa input
{
    width: 40%;
    border-right: none;
    display: block;
    outline: none;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.pesquisa button
{
    height: 38px;
    border-radius: 0px .25rem .25rem 0px;
    border: 1px solid #ced4da;
    background-color: white;
    border-left: none;
    margin-left: -6px;
    cursor: pointer;
}

.resultado-cep h2
{
    align-items: center;
}

.notification
{
    color: white;
    font-weight: 600;
    width: 320px;
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification button
{
    border: none;
    border-radius: 30px;
    height: 30px;
    width: 30px;
    font-weight: 700;
    cursor: pointer;
}

.error
{
    background-color: #f14d54;
}